---
const { data } = Astro.props;
---

<!-- HTML -->
<div class="B-T1">
  <a href={`/product/${data.slug}`}>
    <img src=`/img/${data.img}` alt="Testbillede" />
  </a>
  <a href={`/product/${data.slug}`}> <h3>{data.name}</h3></a>
  <p>{data.price}</p>
</div>

<!-- <div class="B-T2">
    <img src="/img/test2.webp" alt="Testbillede" />

    <h3>Grå sweatshirt</h3>
    <p>150 kr</p>
  </div>

  <div class="B-T3">
    <img src="/img/test3.webp" alt="Testbillede" />

    <h3>Sort sweatshirt</h3>
    <p>150 kr</p>
  </div> -->

<!-- Styling -->
<style>
  img {
    max-width: 100%;
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 8px;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: #0a369c;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 8px;
  }

  /* Grid */
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .B-T1 {
    margin: 4px 10px 4px 10px;
    grid-row: auto;
    grid-column: auto;
  }

  /* .B-T2 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .B-T3 {
    grid-column: 1 / 2;
    grid-row: 2;
  } */

  /* Desktop version */
  @media (min-width: 800px) {
    /* Tekst */
    h3 {
      font-size: 20px;
      line-height: 36px;
    }
    a {
      font-size: 20px;
    }
    a:hover {
      color: #000000;
    }
    /* Grid */
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 80px;
    }
    img {
      border: 8px solid transparent;
    }
    img:hover {
      border: 8px solid #f2e6b6;
    }
    .B-T1 {
      margin: 10px 20px 10px 20px;
    }

    .B-T2 {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    .B-T3 {
      grid-column: 3 / 4;
      grid-row: 1;
    }
  }
</style>
